<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <jsp-file>/common/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>loginHandle</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generalMenu</servlet-name>
        <jsp-file>/common/menu.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>headMenu</servlet-name>
        <jsp-file>/common/menu.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>directMenu</servlet-name>
        <jsp-file>/common/menu.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>employeeMenu</servlet-name>
        <jsp-file>/common/menu.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>createRequest</servlet-name>
        <servlet-class>controller.CreateRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRequestEmployee</servlet-name>
        <servlet-class>controller.CreateRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRequestDepartmentHead</servlet-name>
        <servlet-class>controller.CreateRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRequestGeneralManager</servlet-name>
        <servlet-class>controller.CreateRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewOwnAgendaEmployee</servlet-name>
        <servlet-class>controller.AgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewOwnAgendaDepartmentHead</servlet-name>
        <servlet-class>controller.AgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewOwnAgendaDirectManager</servlet-name>
        <servlet-class>controller.AgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewOwnAgendaGeneralManager</servlet-name>
        <servlet-class>controller.AgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSubAgendaDirectManager</servlet-name>
        <servlet-class>controller.AgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSubAgendaGeneralManaeger</servlet-name>
        <servlet-class>controller.AgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSubAgendaDepartmentHead</servlet-name>
        <servlet-class>controller.AgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalDepartmentHead</servlet-name>
        <servlet-class>controller.ApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactHR</servlet-name>
        <servlet-class>controller.ContactHRServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginHandle</servlet-name>
        <url-pattern>/login-handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generalMenu</servlet-name>
        <url-pattern>/general_manager/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>headMenu</servlet-name>
        <url-pattern>/department_head/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>directMenu</servlet-name>
        <url-pattern>/direct_manager/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employeeMenu</servlet-name>
        <url-pattern>/employee/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRequest</servlet-name>
        <url-pattern>/direct_manager/create_leave_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRequestEmployee</servlet-name>
        <url-pattern>/employee/create_leave_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRequestDepartmentHead</servlet-name>
        <url-pattern>/department_head/create_leave_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRequestGeneralManager</servlet-name>
        <url-pattern>/general_manager/create_leave_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewOwnAgendaEmployee</servlet-name>
        <url-pattern>/employee/view_own_agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewOwnAgendaDepartmentHead</servlet-name>
        <url-pattern>/department_head/view_own_agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewOwnAgendaDirectManager</servlet-name>
        <url-pattern>/direct_manager/view_own_agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewOwnAgendaGeneralManager</servlet-name>
        <url-pattern>/general_manager/view_own_agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSubAgendaDirectManager</servlet-name>
        <url-pattern>/direct_manager/view_and_approve_subordinates'_agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSubAgendaDepartmentHead</servlet-name>
        <url-pattern>/department_head/view_and_approve_subordinates'_agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalDepartmentHead</servlet-name>
        <url-pattern>/department_head/approve_agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSubAgendaGeneralManaeger</servlet-name>
        <url-pattern>/general_manager/view_and_approve_subordinates'_agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactHR</servlet-name>
        <url-pattern>/contactHR</url-pattern>
    </servlet-mapping>
</web-app>
